@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.reveal {
  opacity: 0;
  transform: translateY(30px) scale(0.95);
  /* Make sure this transition is here! */
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1); 
  filter: blur(10px); /* Optional: add a slight blur for a "dreamy" entrance */
}

.reveal.active {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0px);
}
section {
  scroll-margin-top: 5rem; /* This equals the height of your Navbar (h-20) */
}
